*.iml
.gradle
local.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/backend/build/*
/captures
.externalNativeBuild

/app/*.apk
*.jks
/app/src/debug/*.json
/app/release/
/app/*.json
.idea
.build
*.iml
build
*.jks
.idea/
/*.properties
