*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/backend/build/*
/captures
.externalNativeBuild
/app/*.apk
*.jks
/app/src/debug/*.json
/app/*.json
.idea
.build
local.properties
*.iml
build
